In [1]:
#Multiple Linear Regression Model

#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
import pylab
from matplotlib import pyplot

In [2]:
#Import the dataset
dataset=pd.read_csv('/Users/coderjuhi/Housing-crash-simulator/data/processed/US_House_Price_clean.csv')
dataset.head()

,DATE,building_permits,construction_price_index,delinquency_rate,GDP,housing_inventory,housing_subsidies,income,interest_rate,mortgage_rate,construction_unit,households,construction_spending_change,unemployment_rate,urban_population,home_price_index
0,2003-01-01,1808,144.4,1.97,14614.141,76,25.93,10710.4,1.24,5.9160,1654,111278.0,1.5,5.8,79.583,128.461
1,2003-02-01,1854,145.2,1.97,14614.141,82,25.93,10674.0,1.26,5.8425,1688,111278.0,-0.1,5.9,79.583,129.355
2,2003-03-01,1757,145.2,1.97,14614.141,98,25.93,10696.5,1.25,5.7450,1638,111278.0,-1.1,5.9,79.583,130.148
3,2003-04-01,1803,145.9,1.83,14743.567,91,25.93,10752.7,1.26,5.8125,1662,111278.0,1.7,6.0,79.583,130.884
4,2003-05-01,1835,145.8,1.83,14743.567,101,25.93,10832.0,1.26,5.4840,1733,111278.0,0.2,6.1,79.583,131.735

In [3]:
X = dataset.iloc[:, :-1].values
Y=dataset.iloc[:,-1].values

In [4]:
X[0:10]

array([['2003-01-01', 1808, 144.4, 1.97, 14614.141000000001, 76, 25.93,
        10710.4, 1.24, 5.916, 1654, 111278.0, 1.5, 5.8, 79.583],
       ['2003-02-01', 1854, 145.2, 1.97, 14614.141000000001, 82, 25.93,
        10674.0, 1.26, 5.8425, 1688, 111278.0, -0.1, 5.9, 79.583],
       ['2003-03-01', 1757, 145.2, 1.97, 14614.141000000001, 98, 25.93,
        10696.5, 1.25, 5.745, 1638, 111278.0, -1.1, 5.9, 79.583],
       ['2003-04-01', 1803, 145.9, 1.83, 14743.567, 91, 25.93, 10752.7,
        1.26, 5.8125, 1662, 111278.0, 1.7, 6.0, 79.583],
       ['2003-05-01', 1835, 145.8, 1.83, 14743.567, 101, 25.93, 10832.0,
        1.26, 5.484, 1733, 111278.0, 0.2, 6.1, 79.583],
       ['2003-06-01', 1875, 146.1, 1.83, 14743.567, 107, 25.93, 10860.6,
        1.22, 5.23, 1641, 111278.0, 2.3, 6.3, 79.583],
       ['2003-07-01', 1885, 147.0, 1.73, 14988.782, 99, 25.93, 10991.1,
        1.01, 5.6325, 1680, 111278.0, 4.1, 6.2, 79.583],
       ['2003-08-01', 1966, 147.2, 1.73, 14988.782, 105, 25.93, 11066.7,
        1.03, 6.263999999999999, 1570, 111278.0, 1.0, 6.1, 79.583],
       ['2003-09-01', 1961, 149.0, 1.73, 14988.782, 90, 25.93, 10940.8,
        1.01, 6.1475, 1719, 111278.0, 1.2, 6.1, 79.583],
       ['2003-10-01', 2012, 149.6, 1.76, 15162.76, 88, 25.93, 10982.3,
        1.01, 5.952000000000001, 1728, 111278.0, 2.4, 6.0, 79.583]],
      dtype=object)

In [6]:
Y[0:10]

array([128.461, 129.355, 130.148, 130.884, 131.735, 132.649, 133.777,
       134.969, 136.294, 137.531])

In [7]:
dataset.shape

(240, 16)

In [8]:
X[0:5]

array([['2003-01-01', 1808, 144.4, 1.97, 14614.141000000001, 76, 25.93,
        10710.4, 1.24, 5.916, 1654, 111278.0, 1.5, 5.8, 79.583],
       ['2003-02-01', 1854, 145.2, 1.97, 14614.141000000001, 82, 25.93,
        10674.0, 1.26, 5.8425, 1688, 111278.0, -0.1, 5.9, 79.583],
       ['2003-03-01', 1757, 145.2, 1.97, 14614.141000000001, 98, 25.93,
        10696.5, 1.25, 5.745, 1638, 111278.0, -1.1, 5.9, 79.583],
       ['2003-04-01', 1803, 145.9, 1.83, 14743.567, 91, 25.93, 10752.7,
        1.26, 5.8125, 1662, 111278.0, 1.7, 6.0, 79.583],
       ['2003-05-01', 1835, 145.8, 1.83, 14743.567, 101, 25.93, 10832.0,
        1.26, 5.484, 1733, 111278.0, 0.2, 6.1, 79.583]], dtype=object)

In [9]:
Y[0:5]

array([128.461, 129.355, 130.148, 130.884, 131.735])

In [ ]:
#hello